@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #08071b;
  color: white;
  font-family: "Poppins", sans-serif;
}

.file-upload {
  margin: 1.5rem;
}
.file-types {
  display: none;
}
.file-upload > label {
  padding: 5rem 8rem;
}
.img-file label {
  margin: auto;
  padding: 4rem 9rem;
}
